.container{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgb(78, 77, 77);
    
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container button{
    background: rgb(48, 44, 44);
    border: 0.5px solid rgb(10, 135, 173);
    color: rgb(10, 135, 173);
    width: 10rem;
    height: 3rem;
}

.container button:hover{
    opacity: 0.8;
}

.container div p{
    color: rgb(10, 135, 173);
    font-size: 40px;
}