.container{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 15rem;
}

.container button{
    background: rgb(48, 44, 44);
    border: 0.5px solid rgb(10, 135, 173);
    color: rgb(10, 135, 173);
    width: 10rem;
    height: 3rem;
}

.container > button{
    margin-right: 1rem;
}

.container button:hover{
    opacity: 0.8;
}